* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #074270;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

nav {
    display: flex;
    width: 100%;
    background-color:#743B00 ;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
}

nav a {
    color: white;
    padding: 8px;
    display: block;
    border: white solid 2px;
}

.home-hero {
    background-color: grey;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    align-content: center;
    height: 40vh;
}

.divider {
    display: block;
    background-color: white;
    height: 2px;
    width: 95%;
    display: flex;
    margin: auto;
    justify-content: center;
    margin: 2% auto;
}

.home-section1 {
    margin: 0;
}

.home-content1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.home-content1-writing {
    width: 55%;
}

.home-content1-img {
    width: 40%;
    height: 200px;
    border: white solid 2px;
}

h1,
h3 {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.5em;
}

h1 {
    color: yellow;
    font-size: 2.5em;
}

h2 {
    color: yellow;
    margin: 0;
}

p {
    color: white;
}

footer {
    display: flex;
    width: 100%;
    background-color:#743B00 ;
    height: auto;
}

footer a {
    color: white;
}